@font-face {
    font-family: Norse;
    src: url(./Norse-Bold.otf);
}

:root {
    font-size: 10px;
}

body {
    font-family: sans-serif;
    margin: 0;

    display: flex;
    align-items: stretch;
}


.main {
    flex: 1;
    background-color: rgb(243, 244, 246);
}

.sidebar {
    min-width: max(30% , 400px);
    height: 100vh;
    position: relative;
    background-image: url(./sidebar-img.jpg);
    background-size: cover;
}

.sidebar-float {
    background-color: rgba(0, 0, 0, 0.2);
    height: 12rem;
    align-items: center;
    color: white;
    font-family: Norse;

    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 8rem;
    width: 100%;

    position: absolute;
    top: 40%;
}

.sidebar-float > img {
    width: 7rem;
}

h1 {
    background-color: white;
    margin-bottom: 0;
}
.form-section {
    background-color: white;
    box-shadow: 0px 4px  4px rgb(180, 180, 180) ;
    padding-left: 80px;
    padding-right: 240px;

    display: flex;
    flex-wrap: wrap;
}

.form-section > div{
    min-width: 30%;
    margin-right: 120px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 4px;
}

input {
    width: 100%;
}